<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.tela"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="tcc.tela.SyncActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tcc.tela.ImportacaoActivity"
            android:label="@string/title_activity_importacao" >
        </activity>
        <activity
            android:name="tcc.tela.ExportacaoActivity"
            android:label="@string/title_activity_exportacao" >
        </activity>
        <activity
            android:name="tcc.tela.AlertaActivity"
            android:label="@string/title_activity_alerta" >
        </activity>
        <activity
            android:name="tcc.tela.SuaAplicacaoActivity"
            android:label="@string/title_activity_sua_aplicacao" >
        </activity>
        <activity
            android:name="tcc.tela.ListarRegistroTabelaActivity"
            android:label="@string/title_activity_listar_tabelas" >
        </activity>
        <activity
            android:name="tcc.tela.EditarLinhaTabelaActivity"
            android:label="@string/title_activity_editar_registro" >
        </activity>
        <activity
            android:name="tcc.tela.InserirTabelaActivity"
            android:label="@string/title_activity_inserir_tabela" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>